<html>
   <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="../steady/style.css"> 
         <title> HANGMAN </title>
   </head>

   <div class="button-borders">
      <audio loop="loop" autoplay="autoplay">
      <source src="../audio/spiderman.mp3" vol>
      </audio>
   </div>
   


   <body>
    <body background="../pictures/spidermanBG.jpg"> </body>
      <div class="spiderman">  
         <h1>   HANGMAN &ensp;&ensp; SPIDERMAN  </h1>

      <div class="">
      <br>
         <h2>  {{ .Motcachee }}  </h2>
      </div>
      </div>

      {{if .End}}
         {{if .Win}}
         <div class="spiderman">
            <h3>  Vous venez de gagner !!!  </h3>
            <form action="/pageSpiderman">
               <button type="submit" class="jurassic-btn" name="back" value="back"> Menu</button>
            </form>
         </div>
         {{else}}
            <div class="spiderman">
            <h3>  Vous venez de perdre !!!  </h3>
            <h3>  Le mot etait tout simplement : {{ .Motsecret }} </h3>
            <form action="/pageSpiderman">
               <button type="submit" class="jurassic-btn" name="back" value="back"> Menu</button>
            </form>
         </div>
         {{end}}
   {{else}}




      <form action="/pageSpiderman">
         
         
         <div class="button-borders">
         <button type="submit" class="jurassic-btn" name="A" value="A"> A </button>
         <button type="submit" class="jurassic-btn" name="B" value="B"> B </button>
         <button type="submit" class="jurassic-btn" name="C" value="C"> C</button>
         <button type="submit" class="jurassic-btn" name="D" value="D"> D</button>
         <button type="submit" class="jurassic-btn" name="E" value="E"> E</button>
         <button type="submit" class="jurassic-btn" name="F" value="F"> F</button>
         <button type="submit" class="jurassic-btn" name="G" value="G"> G</button>
         <button type="submit" class="jurassic-btn" name="H" value="H"> H</button>
         <button type="submit" class="jurassic-btn" name="I" value="I"> I</button>
         <button type="submit" class="jurassic-btn" name="J" value="J"> J</button>
         <button type="submit" class="jurassic-btn" name="K" value="K"> K</button>
         <button type="submit" class="jurassic-btn" name="L" value="L"> L</button>
         <button type="submit" class="jurassic-btn" name="M" value="M"> M</button>
         <button type="submit" class="jurassic-btn" name="N" value="N"> N</button>
         <button type="submit" class="jurassic-btn" name="O" value="O"> O</button>
         <button type="submit" class="jurassic-btn" name="P" value="P"> P</button>
         <button type="submit" class="jurassic-btn" name="Q" value="Q"> Q</button>
         <button type="submit" class="jurassic-btn" name="R" value="R"> R</button>
         <button type="submit" class="jurassic-btn" name="S" value="S"> S</button>
         <button type="submit" class="jurassic-btn" name="T" value="T"> T</button>
         <button type="submit" class="jurassic-btn" name="U" value="U"> U</button>
         <button type="submit" class="jurassic-btn" name="V" value="V"> V</button>
         <button type="submit" class="jurassic-btn" name="W" value="W"> W</button>
         <button type="submit" class="jurassic-btn" name="X" value="X"> X</button>
         <button type="submit" class="jurassic-btn" name="Y" value="Y"> Y</button>
         <button type="submit" class="jurassic-btn" name="Z" value="Z"> Z</button>
        </div>

   {{end}}
   

   <div class="spiderman">
      <h3>  {{ .Try }}  </h3>
      <h3> &ensp;  {{ .Usingletters }} &ensp; </h3>
   </div> 

   {{if .End}}
      {{else}}
   <form action="/pageSpiderman">
      <button type="submit" class="jurassic-btn" name="giveup" value="giveup"> FF </button>
   </form>
   {{end}}


   </body>
</html>