<html>
   <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="../steady/style.css"> 
         <title> HANGMAN </title>
   </head>

   <body>
      <body background="../pictures/titanicccccc.jpg"> </body>


      <div class="titanic-title"> <h1>   HANGMAN : TITANIC   </h1> 

         <h2>  {{ .Motcachee }}  </h2>
      </div> 

      {{if .End}}
         {{if .Win}}
         <div class="titanic-title">
            <h3>  Vous venez de gagner !!!  </h3>
            <form action="/pageTitanic">
               <button type="submit" class="menu-btn" name="letter" value="back"> Menu </button>
               <script>
                  var submit = document.getElementsByTagName('button')[0];
                  submit.onclick = function() {setInterval(function(){window.close()},15);}
               </script> 
            </form>
         </div>
         {{else}}
         <div class="titanic-title">
            <h3>  Le mot etait tout simplement : {{ .Motsecret }} </h3>
            <form action="/pageTitanic">
               <button type="submit" class="menu-btn" name="letter" value="back"> Menu </button>
               <script>
                  var submit = document.getElementsByTagName('button')[0];
                  submit.onclick = function() {setInterval(function(){window.close()},15);}
               </script> 
            </form>
         </div>
         {{end}}
   {{else}}




      <form action="/pageTitanic">
         
         <button class="titanic-btn" type="submit" name="letter" value="A"> <span class="liquid"></span>  
         <span class="btn-txt">A</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="B"> <span class="liquid"></span>  
         <span class="btn-txt">B</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="C"> <span class="liquid"></span>  
         <span class="btn-txt">C</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="D"> <span class="liquid"></span>  
         <span class="btn-txt">D</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="E"> <span class="liquid"></span>  
         <span class="btn-txt">E</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="F"> <span class="liquid"></span>  
         <span class="btn-txt">F</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="G"> <span class="liquid"></span>  
         <span class="btn-txt">G</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="H"> <span class="liquid"></span>  
         <span class="btn-txt">H</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="I"> <span class="liquid"></span>  
         <span class="btn-txt">I</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="J"> <span class="liquid"></span>  
         <span class="btn-txt">J</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="K"> <span class="liquid"></span>  
         <span class="btn-txt">K</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="L"> <span class="liquid"></span>  
         <span class="btn-txt">L</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="M"> <span class="liquid"></span>  
         <span class="btn-txt">M</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="N"> <span class="liquid"></span>  
         <span class="btn-txt">N</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="O"> <span class="liquid"></span>  
         <span class="btn-txt">O</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="P"> <span class="liquid"></span>  
         <span class="btn-txt">P</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="Q"> <span class="liquid"></span>  
         <span class="btn-txt">Q</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="R"> <span class="liquid"></span>  
         <span class="btn-txt">R</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="S"> <span class="liquid"></span>  
         <span class="btn-txt">S</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="T"> <span class="liquid"></span>  
         <span class="btn-txt">T</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="U"> <span class="liquid"></span>  
         <span class="btn-txt">U</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="V"> <span class="liquid"></span>  
         <span class="btn-txt">V</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="W"> <span class="liquid"></span>  
         <span class="btn-txt">W</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="X"> <span class="liquid"></span>  
         <span class="btn-txt">X</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="Y"> <span class="liquid"></span>  
         <span class="btn-txt">Y</span> </button>
         <button class="titanic-btn" type="submit" name="letter" value="Z"> <span class="liquid"></span>  
         <span class="btn-txt">Z</span> </button>
         

</div>
   {{end}}

   <div class="titanic-title">
      <h3>  <img src="../hangman/hang{{ .Try }}.PNG" height="20%" width="10%">  </h3>
      <h3>  &ensp; {{ .Usingletters }} &ensp; </h3>
   </div> 

   {{if .End}}
      {{else}}
   <form action="/pageTitanic">
      <button type="submit" class="menu-btn" name="letter" value="giveup"> FF </button>
   </form>
   {{end}}


   </body>
</html>