<html>
   <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="../steady/style.css"> 
         <title> HANGMAN </title>
   </head>


   <body>
       
    <body background="../pictures/jp1.jpg"> </body> 
    <!--initialise le fond d'ecran du film JurassicPark-->
      <div class="jurassic-title">  
         <h1>   HANGMAN  JURASSIC PARK  </h1>
      </div>


      <div class="jurassic">
         <h3>  &ensp; {{ .Motcachee }}  </h3>
      </div>

      {{if .End}}
         {{if .Win}}
         <div class="jurassic">
            <h3>  Vous venez de gagner !!!  </h3>
            <form action="/pageJurassic">
               <button type="submit" class="menu-btn" name="letter" value="back"> Menu </button>
               <script>
                  var submit = document.getElementsByTagName('button')[0];
                  submit.onclick = function() {setInterval(function(){window.close()},3);}
               </script> 
            </form>
         </div>
         {{else}}
         <div class="jurassic"> <!--applique le style d'écriture JurassicPark dans le texte ci-dessous-->
            <h4>  Le mot etait tout simplement : {{ .Motsecret }} </h4> <!-- affiche le mot secret si on a perdu ou si on a FF-->
            <form action="/pageJurassic">
               <button type="submit" class="menu-btn" name="letter" value="back"> Menu </button>
               <script>
                  var submit = document.getElementsByTagName('button')[0];
                  submit.onclick = function() {
                     setInterval(function(){window.close()},3);
                  }
               </script> 
            </form>
         </div>
         {{end}}
   {{else}}




      <form action="/pageJurassic">
         
         <div class="button-borders"> <!--affiche l'alphabet pour choisir la lettre qu'on veut utiliser dans le style JurassicPark-->
         <button type="submit" class="jurassic-btn" name="letter" value="A"> A </button>
         <button type="submit" class="jurassic-btn" name="letter" value="B"> B </button>
         <button type="submit" class="jurassic-btn" name="letter" value="C"> C</button>
         <button type="submit" class="jurassic-btn" name="letter" value="D"> D</button>
         <button type="submit" class="jurassic-btn" name="letter" value="E"> E</button>
         <button type="submit" class="jurassic-btn" name="letter" value="F"> F</button>
         <button type="submit" class="jurassic-btn" name="letter" value="G"> G</button>
         <button type="submit" class="jurassic-btn" name="letter" value="H"> H</button>
         <button type="submit" class="jurassic-btn" name="letter" value="I"> I</button>
         <button type="submit" class="jurassic-btn" name="letter" value="J"> J</button>
         <button type="submit" class="jurassic-btn" name="letter" value="K"> K</button>
         <button type="submit" class="jurassic-btn" name="letter" value="L"> L</button>
         <button type="submit" class="jurassic-btn" name="letter" value="M"> M</button>
         <button type="submit" class="jurassic-btn" name="letter" value="N"> N</button>
         <button type="submit" class="jurassic-btn" name="letter" value="O"> O</button>
         <button type="submit" class="jurassic-btn" name="letter" value="P"> P</button>
         <button type="submit" class="jurassic-btn" name="letter" value="Q"> Q</button>
         <button type="submit" class="jurassic-btn" name="letter" value="R"> R</button>
         <button type="submit" class="jurassic-btn" name="letter" value="S"> S</button>
         <button type="submit" class="jurassic-btn" name="letter" value="T"> T</button>
         <button type="submit" class="jurassic-btn" name="letter" value="U"> U</button>
         <button type="submit" class="jurassic-btn" name="letter" value="V"> V</button>
         <button type="submit" class="jurassic-btn" name="letter" value="W"> W</button>
         <button type="submit" class="jurassic-btn" name="letter" value="X"> X</button>
         <button type="submit" class="jurassic-btn" name="letter" value="Y"> Y</button>
         <button type="submit" class="jurassic-btn" name="letter" value="Z"> Z</button>
        </div>


   {{end}}

   <div class="jurassic"> 
      <!--affiche le titre JurassicParc--> 
      <h5>  &ensp; <img src="../hangman/hang{{ .Try }}.PNG" height="20%" width="10%">  </h5> 
      <h5>  &ensp; {{ .Usingletters }} &ensp; </h5>
   </div> 

   {{if .End}}
      {{else}}
   <form action="/pageJurassic">
      <button type="submit" class="menu-btn" name="letter" value="giveup"> FF </button>
   </form>
   {{end}}


   </body>
</html>