<html>
   <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="../steady/style.css"> 
         <title> HANGMAN </title>
   </head>


   <body>
      <body background="../pictures/fightclubBG.jpg"> </body>
      <h1>   <title> HANGMAN </title>   </h1>
      <h2>  Veuillez choisir une lettre  </h2>

      <!-- <input type = "button" name = "test" VALUE = "atchatchatcha" onclick="window.location.href = 'page2.html'"> -->

      <h3>  {{ .Motcachee }}  </h3>
      <h3>  {{ .Try }}  </h3>
      <h3>  {{ .Usingletters }}  </h3>

   {{if .End}}
         {{if .Win}}
            <h2>  Vous venez de gagner !!!  </h2>
            <h2>  ATCHATCHATCHATCHATCHATCHATCHATCHATCHA </h2>
            <form action="/pageFightclub">
               <button type="submit" class="button choice" name="back" value="back"> Retour au menu</button>
            </form>
         {{else}}
            <h2>  Vous venez de perdre !!!  </h2>
            <h2>  ATCHATCHATCHATCHATCHATCHATCHATCHATCHA </h2>
            <form action="/pageFightclub">
               <button type="submit" class="button choice" name="back" value="back"> Retour au menu</button>
            </form>
         {{end}}
   {{else}}
      <form action="/pageFightclub">
         <button type="submit" class="button choice" name="A" value="A"> A</button>
         <button type="submit" class="button choice" name="B" value="B"> B</button>
         <button type="submit" class="button choice" name="C" value="C"> C</button>
         <button type="submit" class="button choice" name="D" value="D"> D</button>
         <button type="submit" class="button choice" name="E" value="E"> E</button>
         <button type="submit" class="button choice" name="F" value="F"> F</button>
         <button type="submit" class="button choice" name="G" value="G"> G</button>
         <button type="submit" class="button choice" name="H" value="H"> H</button>
         <button type="submit" class="button choice" name="I" value="I"> I</button>
         <button type="submit" class="button choice" name="J" value="J"> J</button>
         <button type="submit" class="button choice" name="K" value="K"> K</button>
         <button type="submit" class="button choice" name="L" value="L"> L</button>
         <button type="submit" class="button choice" name="M" value="M"> M</button>
         <button type="submit" class="button choice" name="N" value="N"> N</button>
         <button type="submit" class="button choice" name="O" value="O"> O</button>
         <button type="submit" class="button choice" name="P" value="P"> P</button>
         <button type="submit" class="button choice" name="Q" value="Q"> Q</button>
         <button type="submit" class="button choice" name="R" value="R"> R</button>
         <button type="submit" class="button choice" name="S" value="S"> S</button>
         <button type="submit" class="button choice" name="T" value="T"> T</button>
         <button type="submit" class="button choice" name="U" value="U"> U</button>
         <button type="submit" class="button choice" name="V" value="V"> V</button>
         <button type="submit" class="button choice" name="W" value="W"> W</button>
         <button type="submit" class="button choice" name="X" value="X"> X</button>
         <button type="submit" class="button choice" name="Y" value="Y"> Y</button>
         <button type="submit" class="button choice" name="Z" value="Z"> Z</button>
   {{end}}

   </body>
</html>