<html>
   <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="../steady/style.css"> 
         <title> HANGMAN </title>
         <script src="../javascript/script.js"></script>
   </head>


   <body> 
      <!--initialise le fond d'ecran du film FightClub-->
      <body background="../pictures/fightclubBG.jpg"> </body>

      <div class="fight-club-title">  
         <h2>  HANGMAN : FIGHT CLUB  </h2>
      </div>

   {{if .End}}
         {{if .Win}}
         <div class="fight-club-title">
            <h2>  Vous venez de gagner !!!  </h2>
            <form action="/pageFightclub">
               <button type="submit" class="menu-btn" name="letter" value="back"> Menu </button>
               <script>
                  var submit = document.getElementsByTagName('button')[0];
                  submit.onclick = function() {
                     setInterval(function(){window.close()},3);
                  }
               </script> 
            </form>
         {{else}}
         <div class="fight-club-title"> 
            <!--applique le style d'écriture FightClub dans le texte ci-dessous-->
            <h5>  Le mot etait tout simplement : {{ .Motsecret }} </h5> <!-- affiche le mot secret si on a perdu ou si on a FF-->
            <form action="/pageFightclub">
               <button type="submit" class="menu-btn" name="letter" value="back"> Menu </button>
               <script>
                  var submit = document.getElementsByTagName('button')[0];
                  submit.onclick = function() {
                     setInterval(function(){window.close()},3);
                  }
               </script> 
            </form>
         </div>
         {{end}}
   {{else}}
      <form action="/pageFightclub">
         <br><br><br><br>

         <div class="left-right">
         
            

         <div> <!--affiche l'alphabet pour choisir la lettre qu'on veut utiliser dans le style FightClub-->
            <button type="submit" class="fightclub-btn" name="letter" value="A"> A</button>
            <button type="submit" class="fightclub-btn" name="letter" value="B"> B</button>
            <button type="submit" class="fightclub-btn" name="letter" value="C"> C</button>
            <button type="submit" class="fightclub-btn" name="letter" value="D"> D</button>
            <button type="submit" class="fightclub-btn" name="letter" value="E"> E</button>
            <button type="submit" class="fightclub-btn" name="letter" value="F"> F</button>
            <button type="submit" class="fightclub-btn" name="letter" value="G"> G</button>
            <br><br>
            <button type="submit" class="fightclub-btn" name="letter" value="H"> H</button>
            <button type="submit" class="fightclub-btn" name="letter" value="I"> I</button>
            <button type="submit" class="fightclub-btn" name="letter" value="J"> J</button>
            <button type="submit" class="fightclub-btn" name="letter" value="K"> K</button>
            <button type="submit" class="fightclub-btn" name="letter" value="L"> L</button>
            <button type="submit" class="fightclub-btn" name="letter" value="M"> M</button>
            <button type="submit" class="fightclub-btn" name="letter" value="N"> N</button>
         </div>

         <div class="fight-club-title">  
            <h3>  {{ .Motcachee }}  &ensp; </h3>
         </div>

         <div> 
         <button type="submit" class="fightclub-btn" name="letter" value="O"> O</button>
         <button type="submit" class="fightclub-btn" name="letter" value="P"> P</button>
         <button type="submit" class="fightclub-btn" name="letter" value="Q"> Q</button>
         <button type="submit" class="fightclub-btn" name="letter" value="R"> R</button>
         <button type="submit" class="fightclub-btn" name="letter" value="S"> S</button>
         <button type="submit" class="fightclub-btn" name="letter" value="T"> T</button>
         <br><br>
         <button type="submit" class="fightclub-btn" name="letter" value="U"> U</button>
         <button type="submit" class="fightclub-btn" name="letter" value="V"> V</button>
         <button type="submit" class="fightclub-btn" name="letter" value="W"> W</button>
         <button type="submit" class="fightclub-btn" name="letter" value="X"> X</button>
         <button type="submit" class="fightclub-btn" name="letter" value="Y"> Y</button>
         <button type="submit" class="fightclub-btn" name="letter" value="Z"> Z</button>

         </div>


         </div>
      
   {{end}}

   <div class="fight-club-title"> <!--affiche le titre Alien-->  
      
       <!-- affiche le pendu --> 
      <h6>  &ensp; {{ .Usingletters }}  &ensp; </h6>
      <!-- affiche les lettres utilisées --> 
   </div>

   {{if .End}}
   {{else}}
   <form action="/pageFightclub">
      <button type="submit" class="menu-btn" name="letter" value="giveup"> FF </button>
   </form>
   {{end}}

   </body>
</html>