<html>
   <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="../steady/style.css"> 
         <title> HANGMAN </title>
   </head>


   <body>
      <body background="../pictures/fightclubBG.jpg"> </body>

      <div class="fight-club-title">  
         <h2>  HANGMAN : FIGHT CLUB  </h2>
      </div>

   {{if .End}}
         {{if .Win}}
            <h2>  Vous venez de gagner !!!  </h2>
            <h2>  ATCHATCHATCHATCHATCHATCHATCHATCHATCHA </h2>
            <form action="/pageFightclub">
               <button type="submit" class="glowing-btn" name="back" value="back"> Retour au menu</button>
            </form>
         {{else}}
            <h2>  Vous venez de perdre !!!  </h2>
            <h2>  ATCHATCHATCHATCHATCHATCHATCHATCHATCHA </h2>
            <form action="/pageFightclub">
               <button type="submit" class="glowing-btn" name="back" value="back"> Retour au menu</button>
            </form>
         {{end}}
   {{else}}
      <form action="/pageFightclub">
         <br><br><br><br>

         <div class="left-right">
         
            

         <div>
            <button type="submit" class="glowing-btn" name="A" value="A"> A</button>
            <button type="submit" class="glowing-btn" name="B" value="B"> B</button>
            <button type="submit" class="glowing-btn" name="C" value="C"> C</button>
            <button type="submit" class="glowing-btn" name="D" value="D"> D</button>
            <button type="submit" class="glowing-btn" name="E" value="E"> E</button>
            <button type="submit" class="glowing-btn" name="F" value="F"> F</button>
            <button type="submit" class="glowing-btn" name="G" value="G"> G</button>
            <br><br>
            <button type="submit" class="glowing-btn" name="H" value="H"> H</button>
            <button type="submit" class="glowing-btn" name="I" value="I"> I</button>
            <button type="submit" class="glowing-btn" name="J" value="J"> J</button>
            <button type="submit" class="glowing-btn" name="K" value="K"> K</button>
            <button type="submit" class="glowing-btn" name="L" value="L"> L</button>
            <button type="submit" class="glowing-btn" name="M" value="M"> M</button>
            <button type="submit" class="glowing-btn" name="N" value="N"> N</button>
         </div>

         <div class="fight-club-title">  
            <h3>  {{ .Motcachee }}  </h3>
         </div>


         <div> 

         <button type="submit" class="glowing-btn" name="O" value="O"> O</button>
         <button type="submit" class="glowing-btn" name="P" value="P"> P</button>
         <button type="submit" class="glowing-btn" name="Q" value="Q"> Q</button>
         <button type="submit" class="glowing-btn" name="R" value="R"> R</button>
         <button type="submit" class="glowing-btn" name="S" value="S"> S</button>
         <button type="submit" class="glowing-btn" name="T" value="T"> T</button>
         <br><br>
         <button type="submit" class="glowing-btn" name="U" value="U"> U</button>
         <button type="submit" class="glowing-btn" name="V" value="V"> V</button>
         <button type="submit" class="glowing-btn" name="W" value="W"> W</button>
         <button type="submit" class="glowing-btn" name="X" value="X"> X</button>
         <button type="submit" class="glowing-btn" name="Y" value="Y"> Y</button>
         <button type="submit" class="glowing-btn" name="Z" value="Z"> Z</button>

         </div>


         </div>
      
   {{end}}

   <div class="fight-club-title">  
      <h3>  {{ .Try }}  </h3>
      <h3>  {{ .Usingletters }}  </h3>
   </div>

   </body>
</html>