<html>
   <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="../steady/style.css"> 
         <title> HANGMAN </title>
   </head>

   <div class="button-borders">
      <audio loop="loop" autoplay="autoplay">
      <source src="../audio/alien.mp3" vol>
      </audio>
   </div>


   <body>
      <body background="../pictures/alien3.png"> </body>
      <h1>   <title>  HANGMAN </title>   </h1>
      <div class="alien-title"> <h1>   HANGMAN : ALIEN   </h1>  </div> 

      <div class="alien-title"> 
         <h2>  {{ .Motcachee }}  </h2>
      </div> 

   {{if .End}}
         {{if .Win}}
         <div class="alien-title">
            <h2>  Vous venez de gagner !!!  </h2>
            <form action="/pageAlien">
               <button type="submit" class="btn-alien" name="back" value="back"> Menu</button>
            </form>
         </div>
         {{else}}
           <div class="alien-title">
            <h4>  Vous venez de perdre !!!  </h4>
            <h4>  Le mot etait tout simplement : {{ .Motsecret }} </h4>
            <form action="/pageAlien">
               <button type="submit" class="btn-alien" name="back" value="back"> Menu</button>
            </form>
         </div>
         {{end}}
   {{else}}
      <form action="/pageAlien">
         <button type="submit" class="btn-alien" name="letter" value="A"> A</button>
         <button type="submit" class="btn-alien" name="letter" value="B"> B</button>
         <button type="submit" class="btn-alien" name="letter" value="C"> C</button>
         <button type="submit" class="btn-alien" name="letter" value="D"> D</button>
         <button type="submit" class="btn-alien" name="letter" value="E"> E</button>
         <button type="submit" class="btn-alien" name="letter" value="F"> F</button>
         <button type="submit" class="btn-alien" name="letter" value="G"> G</button>
         <button type="submit" class="btn-alien" name="letter" value="H"> H</button>
         <button type="submit" class="btn-alien" name="letter" value="I"> I</button>
         <button type="submit" class="btn-alien" name="letter" value="J"> J</button>
         <button type="submit" class="btn-alien" name="letter" value="K"> K</button>
         <button type="submit" class="btn-alien" name="letter" value="L"> L</button>
         <br><br>
         <button type="submit" class="btn-alien" name="letter" value="M"> M</button>
         <button type="submit" class="btn-alien" name="letter" value="N"> N</button>
         <button type="submit" class="btn-alien" name="letter" value="O"> O</button>
         <button type="submit" class="btn-alien" name="letter" value="P"> P</button>
         <button type="submit" class="btn-alien" name="letter" value="Q"> Q</button>
         <button type="submit" class="btn-alien" name="letter" value="R"> R</button>
         <button type="submit" class="btn-alien" name="letter" value="S"> S</button>
         <button type="submit" class="btn-alien" name="letter" value="T"> T</button>
         <button type="submit" class="btn-alien" name="letter" value="U"> U</button>
         <button type="submit" class="btn-alien" name="letter" value="V"> V</button>
         <button type="submit" class="btn-alien" name="letter" value="W"> W</button>
         <button type="submit" class="btn-alien" name="letter" value="X"> X</button>
         <button type="submit" class="btn-alien" name="letter" value="Y"> Y</button>
         <button type="submit" class="btn-alien" name="letter" value="Z"> Z</button>
   {{end}}

   <div class="alien-title"> 
      <h4>  {{ .Try }}  </h4>
      <h4>  &ensp; {{ .Usingletters }}  &ensp; </h4>

      {{if .End}}
      {{else}}
      <form action="/pageAlien">
         <button type="submit" class="btn-alien" name="giveup" value="giveup"> FF </button>
      </form>
      {{end}}
   </div> 
   

   </body>
</html>