<html>
   <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="../steady/style.css"> 
         <title> HANGMAN </title>
   </head>


   <body>
      

      <h1>   <title> HANGMAN </title>   </h1>
      <h2>   Veuillez saisir un nombre  </h2>
      <form action="/page2" method="post">
         <input type="number" name="nombre" value = "salut">
         <input type="submit" value = "VALIDER">
      </form>

      <input type = "button" name = "test" VALUE = "atchatchatcha" onclick="window.location.href = 'page2'">

      
      
   </body>
</html>