<html>
   <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="../steady/style.css"> 
         <title> HANGMAN </title>
   </head>


   <body>
      

      <h1>   <title> HANGMAN </title>   </h1>
      <h2>   Veuillez saisir un nombre  </h2>

      <input type = "button" name = "test" VALUE = "atchatchatcha" onclick="window.location.href = 'page2.html'">

      <h3>  {{ .Parite }}  </h3>
      <h3>  {{ .nombre }}  </h3>
      
   </body>
</html>